body {
    font-family: Arial, sans-serif;
}

.angled-gradient {
    background: linear-gradient(to bottom right, #0f6789, #286155);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.text-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0f6789;
    border-radius: 5px;
}

.login-btn {
    background-color: #0f6789;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.login-btn:hover {
    background-color: #0fb565;
}

.gradient {
    background: linear-gradient(to bottom right, #0f6789, #286155);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.create-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.create-btn:hover {
    background-color: white;
    color: black;
}